.about__title {
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    margin-top: 0;
    margin-bottom: 24px;
  }
  
  @media screen and (max-width: 1023px) {
    .about__title {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 16px;
    }
  }