.popup__close {
    background: url(../../../images/icon/back.svg) center no-repeat;
    background-size: 40px 40px;
    width: 34px;
    height: 24px;
    border: none;
    position: absolute;
    top: -38px;
    right: -38px;
}

.popup__close:hover {
    transition: opacity .3s linear;
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 560px) {
    .popup__close {
        top: -28px;
        right: -28px;
    }
}

@media screen and (max-width: 374px) {
    .popup__close {
        width: 24px;
        height: 24px;
        background-size: 30px 30px;
        top: -41px;
        right: 19px;
    }
}