.about__text {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  @media screen and (max-width: 1023px) {
    .about__text {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 25px;
    }
  }