.about__about-me {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 131px 0 0 56px;
  }
  
  @media screen and (max-width: 1023px) {
    .about__about-me {
      margin: 40px 0 0 32px;
    }
  }
  
  @media screen and (max-width: 560px) {
    .about__about-me {
      margin: 24px 0 0;
    }
  }