.card__button-message {
    height: 40px;
    padding: 0 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    background-color: #fff;
    order: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility linear 0.3s;
    z-index: 2;
  }
  
  @media screen and (max-width: 1023px) {
    .card__button-message {
      width: 100px;
      border: 1px solid #000000;
    }
  }