.footer__copyright {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 767px) {
    .footer__copyright {
      order: 2;
      margin-top: 35px;
    }
  }