.nav__link {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    text-decoration: none;
    padding-bottom: 23px;
    margin-right: 32px;
  }
  
  .nav__link:hover {
    transition: opacity .3s linear;
    opacity: 0.9;
    cursor: url(../../../images/cursor/pointer.svg), default;
  }
  
  @media screen and (max-width: 1023px) {
    .nav__link {
      margin-right: 16px;
      padding-bottom: 17px;
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 670px) {
    .nav__link:first-child {
      border-top: 1px solid rgba(196, 196, 196, 0.5);
      padding-top: 45px;
      margin-top: -16px;
    }
    .nav__link {
      width: 100%;
      text-align: center;
      margin-right: 0;
      font-size: 18px;
      color: #ffffff;
      padding-bottom: 37px;
    }
  }