.card__image {
  width: auto;
  height: 272px;
  object-fit: cover;
  object-position: top;
  border-radius: 16px 16px 0 0;
}

@media screen and (max-width: 1023px) {
  .card__image {
    height: 200px;
  }
}

@media screen and (max-width: 767px) {
  .card__image {
    height: 196px;
  }
}