.nav__logout {
    height: 48px;
    border: 1px solid #FFFFFF;
    color: #ffffff;
    border-radius: 100px;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .nav__logout:hover {
    transition: opacity .3s linear;
    opacity: 0.9;
    cursor: url(../../../images/cursor/pointer.svg), default;
  }
  
  @media screen and (max-width: 1023px) {
    .nav__logout {
      height: 40px;
    }
  }
  
  @media screen and (max-width: 670px) {
    .nav__logout {
      margin-bottom: 70px;
      padding-left: 74px;
      padding-right: 74px;
      height: 56px;
    }
  }