.card__source {
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    text-decoration: none;
  }
  
  .card__source:hover {
    cursor: url(../../../images/cursor/pointer.svg), default;
  }