.search__position {
    margin-top: 160px;
    margin-bottom: 80px;
    margin-left: 16px;
    margin-right: 16px;
  }
  
  @media screen and (max-width: 1023px) {
    .search__position {
      margin-top: 104px;
      margin-bottom: 48px;
    }
  }
  
  @media screen and (max-width: 670px) {
    .search__position {
      margin-bottom: 32px;
    }
  } 