@import url(./__icon/preloader__icon.css);
@import url(./__message/preloader__message.css);
@import url(./__title/preloader__title.css);
@import url(./not-found-icon/not-found-icon.css);

.preloader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5F6F7;
  padding: 80px 0;
}