.card__keyword {
  color: #000000;
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: #ffffff;
  padding: 8px 12px;
  border-radius: 10px;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1023px) {
  .card__keyword {
    left: 8px;
    top: 8px;
  }
}