.news-cards__list {
  width: calc(100% - 104px * 2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  gap: 16px;
  padding: 0;
  margin-top: 62px;
  margin-bottom: 64px;
}

@media screen and (max-width: 1439px) {
  .news-cards__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 1023px) {
  .news-cards__list {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 32px;
    margin-bottom: 32px;
    width: calc(100% - 40px * 2);
    gap: 8px;
  }
}

@media screen and (max-width: 815px) {
  .news-cards__list {
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  }
}

@media screen and (max-width: 560px) {
  .news-cards__list {
    margin-top: 24px;
    margin-bottom: 24px;
    width: calc(100% - 16px * 2);
    gap: 10px;
  }
}