.popup__input-title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #2F71E5;
    max-width: 358px;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 9px;
    margin-top: 13px;
  }
  
  @media screen and (max-width: 374px) {
    .popup__input-title {
      margin-left: 16px;
      margin-right: 16px;
    }
  }