.saved-header__subtitle {
    max-width: 530px;
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    margin-top: 28px;
    margin-bottom: 30px;
    color: #1A1B22;
  }
  
  @media screen and (max-width: 1023px) {
    .saved-header__subtitle {
      max-width: 336px;
      font-size: 30px;
      line-height: 34px;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
  
  @media screen and (max-width: 560px) {
    .saved-header__subtitle {
      max-width: 288px;
    }
  }