.nav__logout-icon {
    width: auto;
    height: auto;
    margin-left: 10px;
  }
  
  @media screen and (max-width: 1023px) {
    .nav__logout-icon {
      width: 20px;
      height: 20px;
      margin-left: 7px;
    }
  }
  
  @media screen and (max-width: 670px) {
    .nav__logout-icon {
      margin-left: 12px;
    }
  }