.preloader__icon {
    display: block;
      width: 74px;
    height: 74px;
      border: 1px solid #444;
    border-left: none;
      border-radius: 50%;
    animation: spin .75s infinite linear;
  }
  
  @keyframes spin {
      100% {
          transform: rotate(360deg);
      }
  }