.footer__list_links {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    column-gap: 40px;
  }
  
  @media screen and (max-width: 1023px) {
    .footer__list_links {
      column-gap: 18px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .footer__list_links {
      grid-template-columns: auto;
      row-gap: 20px;
    }
  }