.saved-header__title {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgba(26, 27, 34, 0.5);
    margin: 0;
  }
  
  @media screen and (max-width: 1023px) {
    .saved-header__title {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 670px) {
    .saved-header__title {
      font-size: 12px;
    }
  }