.search__subtitle {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    max-width: 514px;
    margin-top: 32px;
  }
  
  @media screen and (max-width: 1023px) {
    .search__subtitle {
      max-width: 452px;
      font-size: 18px;
      line-height: 24px;
      margin-top: 16px;
    }
  }