.preloader__title {
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 0;
    color: #1A1B22;
  }